* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 200px;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn {
  background: #0062b9;
  color: #fff;
  padding: 1.2rem 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}

.btn:hover {
  transform: translateY(-5px);
}

header,
main,
footer {}

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  font-weight: 700;
}

header>nav {}

nav>ul {
  display: flex;
}

nav>ul a {
  display: block;
  padding: 35px 20px;
}

header .header-profile>.avatar-img {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}

.header-profile {
  display: flex;
  align-items: center;
}

.section-home {
  background-color: #437ec3;
  padding: 20% 5%;
  align-items: center;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 50px;
  text-align: center;
  color: white;
}

.section-home>h1 {
  font-size: 50px;
}

.section-home>.btn {
  display: flex;
  justify-content: center;
}

.section-home>.btn>a {
  background-color: white;
  color: black;
  padding: 20px 70px;
  border-radius: 7px;
  font-weight: 700;
}

/* section about me */

.section-about-me {
  background-color: #f7f7f7;
  display: block;
  text-align: center;
  padding: 10% 5%;
}

.section-about-me>h2 {
  position: relative;
  margin-bottom: 40px;
}

.section-about-me>p {
  color: #777;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
}

.section-about-me-content {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  text-align: initial;
}

.section-about-me-content h3 {
  margin-bottom: 30px;
}

.section-about-me-content ul {
  display: flex;
  flex-wrap: wrap;
}

.section-about-me-content ul>li {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

.section-about-me>h2::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 2rem;
  background: #0062b9;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}