/* section about me */
.section-about-me {
  background-color: #f7f7f7;
  display: block;
  text-align: center;
}

.section-about-me-content {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  text-align: initial;
}

.section-about-me-content h3 {
  margin-bottom: 30px;
}

.section-about-me-content ul {
  display: flex;
  flex-wrap: wrap;
}

.section-about-me-content {
  ul > li {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #777;
  }
}
