* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 200px;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn {
  background: #0062b9;
  color: #fff;
  padding: 1.2rem 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}

.btn:hover {
  transform: translateY(-5px);
}

.subtitle {
  display: block;
  text-align: center;
  color: #777;
  font-size: 1.4rem;
  font-weight: 500;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;
  text-align: center;
  margin: 0px 150px;
}

.paragraph {
  font-size: 1.2rem;
  color: grey;
  max-width: 60rem;
  line-height: 1.7;
}

.section {
  padding: 10% 5%;
}

h1 {
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

h2::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 2rem;
  background: #0062b9;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

h3 {
  font-weight: 700;
  font-size: 1.8rem;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  font-weight: 700;
}

nav>ul {
  display: flex;
}

nav>ul a {
  display: block;
  padding: 35px 20px;
}

header .header-profile>.avatar-img {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}

.header-profile {
  display: flex;
  align-items: center;
}

.section-home {
  background: linear-gradient(to right,
      rgba(0, 98, 185, 0.8),
      rgba(0, 98, 185, 0.8)),
    url(./assets/common-bg.svg);
  background-position: center;

  padding: 15% 10%;
  align-items: center;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 50px;
  text-align: center;
  color: white;
}

/* section home */

.section-home>p {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0px 50px;
}

.section-home .btn {
  background-color: white;
  color: black;
  padding: 1.4rem 6rem;
  font-size: 1.2rem;
}

/* section about me */

.section-about-me {
  background-color: #f7f7f7;
  display: block;
  text-align: center;
}

.section-about-me-content {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  text-align: initial;
}

.section-about-me-content h3 {
  margin-bottom: 30px;
}

.section-about-me-content ul {
  display: flex;
  flex-wrap: wrap;
}

.section-about-me-content ul>li {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

/* section projects */

.section-projects>ul li {
  display: grid;
  grid-template-columns: 1fr 40%;
  column-gap: 50px;
  margin-bottom: 2px;
}

.section-projects .project-content {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section-projects ul {
  margin-top: 100px;
}

.section-projects ul li+li {
  margin-top: 50px;
}